/.idea/libraries/
/buildSrc/.gradle/
/buildSrc/.build/
/.gradle/
/.idea/
/build/
/.idea/misc.xml
/.idea/.name
/.idea/codeStyles/
/.idea/modules/
/.idea/compiler.xml
/.idea/navEditor.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/kotlinScripting.xml
/.idea/jarRepositories.xml
/.idea/gradle.xml
/.idea/assetWizardSettings.xml
/.idea/workspace.xml
